*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


span{
    color: white;
    font-size: 85px;
    font-weight: bolder;
}